.con {
  position: absolute;
  width: 865px;
  height: 200px;
  margin: 29em 0em;
  background-color: #000;
  border-radius: 25px;
}
.dollar{
  background-color: #282828;
  border-radius: 5px;
  border: 1px solid black;
  margin: 12px -5px 0px 10px;
  margin-left: 30px;
  width: 50px;
}

.con .box {
  position: relative;
  width: calc(430px - 30px);
  height: calc(200px - 30px);
  background: #282828;
  float: left;
  margin: 15px 0px 5px 21px;
  border-radius: 20px;
}

.toggle-container {
  margin-left: 6em;
  margin-top: 0.5em;
  position: relative;
  width: 200px;
  height: 25px;
  background-color: #c4c4c4;
  cursor: pointer;
  user-select: none;
  border-radius: 15px;
  padding: 2px;
}
.toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
  color: #fff;
  background-color: black;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 0.25);
  padding: 2.5px 40px;
  border-radius: 15px;
  position: absolute;
  transition: all 0.4s ease;
  left: 85px;
}
.disable {
  background-color: #282621;
  left: 3px;
}
.buttons {
  position: absolute;
  margin-top: -5px;
}
.third {
  position: absolute;
  margin-top: -8px;
}
.primary {
  width: 50px;
  background-color: #000;
  color: black;
  height: 30px;
  margin: -10px -5px 0px 10px;
  margin-left: 30px;
  border-radius: 10px;
  border: #c4c4c4;
}

.wrapper {
  margin: 10px 0px 0 30px;
  height: 40px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 5px;
  outline-style: auto;
  border-color: white;
}
.num {
  padding-left: 15px;
}

.btn1 {
  border: none;
  background-color: grey;
  color: silver;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
  font-size: 12px;
  margin: 10px 0 0 27px;
  cursor: pointer;
}
.btn2 {
  border: none;
  background-color: grey;
  color: silver;
  padding: 5px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 25px;
  font-size: 12px;
  margin: 10px 0 0 9px;
  cursor: pointer;
}
.betx {
  float: right;
  margin: 20px 55px 0 10px;
}
.betxx {
  margin: 10px 25px 0 200px;
  position: absolute;
  outline: 0;
  display: block;
  padding: 10px 2px;
}

.btn-secondary {
  margin-top: 15px;
  display: inline-block;
  font-weight: 200;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.215rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.form-body {
  position: absolute;
  margin-left: 53em;
  margin-top: 2em;
}

.flip-button {
  position: relative;
  width: 10em;
  height: 5em;
  border: none;
  border-radius: 5px;
  background-color: #ccc;
  cursor: pointer;
  overflow: hidden;
}

.flip-front,
.flip-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #fff;
}

.flip-front {
  background-color: #00ced1;
  z-index: 2;
}

.flip-back {
  background-color: #ffac1c;
  transform: translateY(-100%);

}

.flipped .flip-front {
  transform: translateY(100%);
}

.flipped .flip-back {
  transform: translateY(0%);
  border-radius: 5px;
}

.fliped .flip-front {
  transform: translateY(100%);
}

.fliped .flip-back {
  transform: translateY(0%);
}
.cont {
  background-color: #000;
  border-radius: 15px;
  width: 34em;
  height: 42em;
  position: absolute;
  right: 12px;
  top: 10px;
  border: 3px solid #000;
}

.formitems{
  position: absolute;
  /* margin: 20px 40px; */
  right: 18em;
  top:7em;
  z-index: 999;
}
.formitems input{
  width: 15em;
}
.form-button{
  position: absolute;
  right: -9.5em;
  top: 2.45em;  
}
.play{
  background-color: rgb(108, 117, 125);;
  padding: 6px 20px;
  border: 2px solid black;
  border-radius: 10px;
}
.datatable{
  margin-top: 1px;
  position: absolute;
  margin-left:21em;
}
.bet{
  color: white;
}
.multiplier{
  width: 80px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: white;
  overflow: hidden;
}


/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
  .con{
    position: absolute;
    left: 10px;
    top: -16.7em;
    width: 350px;
    border-radius: 5px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
 .con  .box {
    position: relative;
    top: -0.6em;
    left: -0.8em;
    width: calc(140px - 8px);
    height: calc(120px - 30px);
    float: left;
    border-radius: 5px;
    margin-right: -9px;
  }

  .plus{
    z-index: 999;
    left: -11em;
    top: -12px;
    width: 12px;
  }
  .toggle-container {
    margin-left: 1.5em;
    margin-top : 3.5px;
    width: 80px;
    height: 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 15px;
    padding: 1px;
  }
  .toggle-btn {
    width: 40;
    height: 9px;
    font-size: 5px;
    padding: 0.2px 14.5px;
    border-radius: 15px;
    top: 0.2px;
    left: 37px;
  }
  .disable {
    left: 1px;
  }
  .wrapper {
    margin: 10px 0px 0 10px;
    height: 15px;
    width: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .multiplier{
    font-size: 9px;
  }
  .inc{
    height: 9px;
  }
  .buttons{
    margin-left: -3px;
  }
  .dollar{
    width: 28px;
    font-size: 7px;
    height: 14px;
    border-radius: 2px;
    margin-left: 10px;
    
  }
  .primary{
    width: 20px;
    height: 10px;
    font-size: 10px;
  }
  .betxx{
    width: 45px;
    height: 30px;
    margin-left: 80px;
    margin-top: 20px;
  }
.flip-button{
  position: absolute;
  width: 45px;
  height: 30px;
  margin-left: -5px;
  margin-top: -5px;
  size: 5px;
}
.flip-front{
  font-size: 10px;
}
.flip-back{
  font-size: 5px;
}
  .cont {
   top: 44em;
   width: 52.5em;
   height: 50em;
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: row;
   right: -30.7em;
  }
  .formitems{
    margin-top: 45em;
    left: 4em;
  }
  .form-button{
    left: 37em;
  }
  .datatable{
    left:18em;
  }
  .bets{
    display: flex;
    width: 200px;
  }
}



